# Auto detect text files and perform LF normalization
* linguist-vendored
*.c linguist-vendored=false
*.h linguist-vendored=false
*.c linguist-language=java
*.h linguist-language=java
*.m linguist-language=java
*.html linguist-language=java
*.js linguist-language=java
