$theme-color: #2980b9;
$sidebar-width: 20rem;
$sidebar-mobile-width: 16rem;
$font-family:
  -apple-system,
  system-ui,
  BlinkMacSystemFont,
  Helvetica Neue,
  PingFang SC,
  Hiragino SansGB,
  Microsoft YaHei,
  Arial,
  sans-serif;
$font-family-heading:
  -apple-system,
  system-ui,
  BlinkMacSystemFont,
  Helvetica Neue,
  PingFang SC,
  Hiragino SansGB,
  Microsoft YaHei,
  Arial,
  sans-serif;
